{% extends 'main/layout.html' %}
{% block contents %}
<br>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{board.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{board.author}}</h6>
      <p class="card-text">{{board.content}}</p>

<!-- Button trigger modal -->
<!-- disabled 업데이트 딜리트 컨트롤 함 , 버튼은 있되 선택은 안되게 => 세션에 로그인된 유저랑 게시글 작성 유저가 다를 때 클릭불가 -->
      {% if request.session.user.user_id == board.User_info.user_id %}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update_modal">수정하기</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delete_modal">삭제하기</button>
      {% endif %}
    </div>
  </div>
</div>
<div class="container">
  <a href="{% url 'board_view' %}" class="card-link">목록으로</a>
</div>

  <!-- Modal -->
  <div class="modal fade" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <form action="{% url 'board_update' board.id %}" method="POST"> {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
                <label for="exampleInputPassword1">Please board passsword here</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pwd">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">update</button>
          </div>
        </form>
        </div>
      </div>
    </div>


  <!-- Modal -->
  <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <form action="{% url 'board_delete' board.id %}" method="POST">{% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
                <label for="exampleInputPassword1">Please board passsword here</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pwd">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">delete</button>
          </div>
        </form>
        </div>
      </div>
    </div>
{% endblock %}
